#stack{
    position: absolute;
    left: 1%;
    border: solid pink;
    width: 10%;
    top:1%;
    padding-bottom: 10%;
}
#filing{
    position: absolute;
    display: inline-block;
    border: solid pink;
    left: 1%;
    width: 10%;
    top:50%;
    padding-bottom: 10%;
}
#handcards{
    position: relative;
    border: solid pink;
    padding: 1%;
    left: 15%;
    width: 80%;
}
button {
    position: relative;
    left: 15%;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: solid pink;
    font-size: 16px;
    padding: 10px 100px 10px 20px;
}
   